body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-around;
    
    background-color: aquamarine;
    align-items: center;
}

#header>button {
    height: 40px;
    border-radius: 5px;
}
#submit, #close {
    margin-top: 5px;
    margin-right: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

input:invalid {
    outline: 2px solid red;
    background-color: ivory;
}
#cards {
    border-top: solid 3px rgba(0, 0, 0, 0.15);
    padding: 10px;
    padding-top: 7px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
}

.card {
    background-color: rgb(177, 177, 177);
    box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
    padding: 10px;
    max-height: 500px;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.card>img {
    margin-top: 20px;
    height: 200px;
    width: 120px;
}